# Ignore artifacts:
/dist
/src-bex/www
/src-capacitor
/src-cordova
/.quasar
/node_modules
/.github
/.vscode
.eslintrc.js
babel.config.js
.postcssrc.js
.prettierrc
.prettierignore
jsconfig.json
quasar.conf.js
README.md
**/*.png
**/*.svg
